# dependencies
/node_modules

# build output
/dist
*.tsbuildinfo

# logs
*.log
npm-debug.log*

# env files (commit only .env.example)
.env*
!.env.example

# editor / OS
.DS_Store
.vscode/
.idea/

# test/coverage
/coverage

# cursor
.cursor